Neste notebook são feitas consultas (SQL) na tabela com as requisições da News API salvas. Essas consultas retornam relatórios a respeito dos dados salvos.

In [0]:
from datetime import datetime
import time

HOUR_TO_RUN_REPORT = '22'    # 22
MINUTE_TO_RUN_REPORT = '30'  # 30

def report_articles_published():
    report_articles_published = spark.sql(
    "SELECT CONCAT('year_published: ', YEAR(publishedAt)) AS info, COUNT(*) AS articles_published "
    "FROM temp_table_view "
    "GROUP BY YEAR(publishedAt) "
    "UNION ALL "
    "SELECT CONCAT('month_published: ', "
    "               CASE "
    "                   WHEN MONTH(publishedAt) = 1 THEN 'Jan' "
    "                   WHEN MONTH(publishedAt) = 2 THEN 'Feb' "
    "                   WHEN MONTH(publishedAt) = 3 THEN 'Mar' "
    "                   WHEN MONTH(publishedAt) = 4 THEN 'Apr' "
    "                   WHEN MONTH(publishedAt) = 5 THEN 'May' "
    "                   WHEN MONTH(publishedAt) = 6 THEN 'Jun' "
    "                   WHEN MONTH(publishedAt) = 7 THEN 'Jul' "
    "                   WHEN MONTH(publishedAt) = 8 THEN 'Aug' "
    "                   WHEN MONTH(publishedAt) = 9 THEN 'Sep' "
    "                   WHEN MONTH(publishedAt) = 10 THEN 'Oct' "
    "                   WHEN MONTH(publishedAt) = 11 THEN 'Nov' "
    "                   WHEN MONTH(publishedAt) = 12 THEN 'Dec' "
    "               END) AS info, "
    "       COUNT(*) AS articles_published "
    "FROM temp_table_view "
    "GROUP BY YEAR(publishedAt), MONTH(publishedAt) "
    "UNION ALL "
    "SELECT CONCAT('day_published: ', DAY(publishedAt), '/', "
    "               CASE "
    "                   WHEN MONTH(publishedAt) = 1 THEN 'Jan' "
    "                   WHEN MONTH(publishedAt) = 2 THEN 'Feb' "
    "                   WHEN MONTH(publishedAt) = 3 THEN 'Mar' "
    "                   WHEN MONTH(publishedAt) = 4 THEN 'Apr' "
    "                   WHEN MONTH(publishedAt) = 5 THEN 'May' "
    "                   WHEN MONTH(publishedAt) = 6 THEN 'Jun' "
    "                   WHEN MONTH(publishedAt) = 7 THEN 'Jul' "
    "                   WHEN MONTH(publishedAt) = 8 THEN 'Aug' "
    "                   WHEN MONTH(publishedAt) = 9 THEN 'Sep' "
    "                   WHEN MONTH(publishedAt) = 10 THEN 'Oct' "
    "                   WHEN MONTH(publishedAt) = 11 THEN 'Nov' "
    "                   WHEN MONTH(publishedAt) = 12 THEN 'Dec' "
    "               END, '/', YEAR(publishedAt)) AS info, COUNT(*) AS articles_published "
    "FROM temp_table_view "
    "GROUP BY YEAR(publishedAt), MONTH(publishedAt), DAY(publishedAt) "
    "UNION ALL "
    "SELECT CASE "
    "           WHEN author IS NULL THEN CONCAT('author: ', source) "
    "           ELSE CONCAT('author: ', author) "
    "       END AS info, "
    "       COUNT(*) AS articles_published "
    "FROM temp_table_view "
    "GROUP BY info "
    "UNION ALL "
    "SELECT CONCAT('source: ', source) AS info, COUNT(*) AS articles_published "
    "FROM temp_table_view "
    "GROUP BY source "
    "ORDER BY info"
    )

    return report_articles_published

def report_key_words():
    report_key_words = spark.sql(
    "SELECT "
    "   CONCAT('year_published: ', YEAR(publishedAt)) AS info, "
    "   SUM(REGEXP_COUNT(content, '(?i)research') + REGEXP_COUNT(description, '(?i)research') + REGEXP_COUNT(title, '(?i)research')) AS key_word_RESEARCH, "
    "   SUM(REGEXP_COUNT(content, '(?i)medicinal') + REGEXP_COUNT(description, '(?i)medicinal') + REGEXP_COUNT(title, '(?i)medicinal')) AS key_word_MEDICINAL, "
    "   SUM(REGEXP_COUNT(content, '(?i)cannabis') + REGEXP_COUNT(description, '(?i)cannabis') + REGEXP_COUNT(title, '(?i)cannabis')) AS key_word_CANNABIS "
    "FROM temp_table_view "
    "GROUP BY YEAR(publishedAt) "
    "UNION ALL "
    "SELECT "
    "    CONCAT('month_published: ', "
    "        CASE "
    "            WHEN MONTH(publishedAt) = 1 THEN 'Jan' "
    "            WHEN MONTH(publishedAt) = 2 THEN 'Feb' "
    "            WHEN MONTH(publishedAt) = 3 THEN 'Mar' "
    "            WHEN MONTH(publishedAt) = 4 THEN 'Apr' "
    "            WHEN MONTH(publishedAt) = 5 THEN 'May' "
    "            WHEN MONTH(publishedAt) = 6 THEN 'Jun' "
    "            WHEN MONTH(publishedAt) = 7 THEN 'Jul' "
    "            WHEN MONTH(publishedAt) = 8 THEN 'Aug' "
    "            WHEN MONTH(publishedAt) = 9 THEN 'Sep' "
    "            WHEN MONTH(publishedAt) = 10 THEN 'Oct' "
    "            WHEN MONTH(publishedAt) = 11 THEN 'Nov' "
    "            WHEN MONTH(publishedAt) = 12 THEN 'Dec' "
    "        END, '/', YEAR(publishedAt)) AS info, "
    "   SUM(REGEXP_COUNT(content, '(?i)research') + REGEXP_COUNT(description, '(?i)research') + REGEXP_COUNT(title, '(?i)research')) AS key_word_RESEARCH, "
    "   SUM(REGEXP_COUNT(content, '(?i)medicinal') + REGEXP_COUNT(description, '(?i)medicinal') + REGEXP_COUNT(title, '(?i)medicinal')) AS key_word_MEDICINAL, "
    "   SUM(REGEXP_COUNT(content, '(?i)cannabis') + REGEXP_COUNT(description, '(?i)cannabis') + REGEXP_COUNT(title, '(?i)cannabis')) AS key_word_CANNABIS "
    "FROM temp_table_view "
    "GROUP BY YEAR(publishedAt), MONTH(publishedAt) "
    "UNION ALL "
    "SELECT "
    "    CONCAT('day_published: ', DAY(publishedAt), '/', "
    "        CASE "
    "            WHEN MONTH(publishedAt) = 1 THEN 'Jan' "
    "            WHEN MONTH(publishedAt) = 2 THEN 'Feb' "
    "            WHEN MONTH(publishedAt) = 3 THEN 'Mar' "
    "            WHEN MONTH(publishedAt) = 4 THEN 'Apr' "
    "            WHEN MONTH(publishedAt) = 5 THEN 'May' "
    "            WHEN MONTH(publishedAt) = 6 THEN 'Jun' "
    "            WHEN MONTH(publishedAt) = 7 THEN 'Jul' "
    "            WHEN MONTH(publishedAt) = 8 THEN 'Aug' "
    "            WHEN MONTH(publishedAt) = 9 THEN 'Sep' "
    "            WHEN MONTH(publishedAt) = 10 THEN 'Oct' "
    "            WHEN MONTH(publishedAt) = 11 THEN 'Nov' "
    "            WHEN MONTH(publishedAt) = 12 THEN 'Dec' "
    "        END, '/', YEAR(publishedAt)) AS info, "
    "   SUM(REGEXP_COUNT(content, '(?i)research') + REGEXP_COUNT(description, '(?i)research') + REGEXP_COUNT(title, '(?i)research')) AS key_word_RESEARCH, "
    "   SUM(REGEXP_COUNT(content, '(?i)medicinal') + REGEXP_COUNT(description, '(?i)medicinal') + REGEXP_COUNT(title, '(?i)medicinal')) AS key_word_MEDICINAL, "
    "   SUM(REGEXP_COUNT(content, '(?i)cannabis') + REGEXP_COUNT(description, '(?i)cannabis') + REGEXP_COUNT(title, '(?i)cannabis')) AS key_word_CANNABIS "
    "FROM temp_table_view "
    "GROUP BY YEAR(publishedAt), MONTH(publishedAt), DAY(publishedAt) "
    "ORDER BY info "
    )

    return report_key_words

while True:
    if (str(datetime.now().hour) == HOUR_TO_RUN_REPORT) and (str(datetime.now().minute) == MINUTE_TO_RUN_REPORT):
        if spark.catalog.tableExists('table_articles'):
            spark.sql('REFRESH TABLE table_articles')
        table = spark.read.format('parquet').load('/FileStore/tables/table_articles')
        table.createOrReplaceTempView('temp_table_view')

        report_articles_published = report_articles_published()
        report_articles_published.write.mode('overwrite').format('parquet').option(
        'path', '/FileStore/tables/report_articles_published').saveAsTable('report_articles_published')
        report_articles_published.show()

        report_key_words = report_key_words()
        report_key_words.write.mode('overwrite').format('parquet').option(
            'path', '/FileStore/tables/report_key_words').saveAsTable('report_key_words')
        report_key_words.show()

        time.sleep(100) # 100 seconds

+--------------------+------------------+
|                info|articles_published|
+--------------------+------------------+
| author: Alexis Wnuk|                 1|
|author: David Fisher|                 1|
|author: Natasha M...|                 1|
|  author: PRNewswire|                 2|
|author: Research ...|                 1|
|author: The Times...|                 1|
|day_published: 2/...|                 1|
|day_published: 3/...|                 6|
|month_published: Oct|                 7|
|source: GlobeNews...|                 1|
|source: New Scien...|                 1|
|source: New Zeala...|                 1|
|    source: POPSUGAR|                 1|
|  source: PRNewswire|                 2|
|source: The Times...|                 1|
|year_published: 2023|                 7|
+--------------------+------------------+

+--------------------+-----------------+------------------+-----------------+
|                info|key_word_RESEARCH|key_word_MEDICINAL|key_word_CANNABIS|
+--------------------+-----------------+------------------+-----------------+
|day_published: 2/...|                0|                 0|                3|
|day_published: 3/...|                7|                 0|                6|
|month_published: ...|                7|                 0|                9|
|year_published: 2023|                7|                 0|                9|
+--------------------+-----------------+------------------+-----------------+

In [0]:
%sql
SELECT *
FROM report_articles_published

info,articles_published
author: Alexis Wnuk,1
author: David Fisher,1
author: Natasha Marsh,1
author: PRNewswire,2
author: Research and Markets,1
author: The Times of Israel,1
day_published: 2/Oct/2023,1
day_published: 3/Oct/2023,6
month_published: Oct,7
source: GlobeNewswire,1
source: New Scientist,1
source: New Zealand Herald,1
source: POPSUGAR,1
source: PRNewswire,2
source: The Times of Israel,1
year_published: 2023,7

In [0]:
%sql
SELECT *
FROM report_key_words

info,key_word_RESEARCH,key_word_MEDICINAL,key_word_CANNABIS
day_published: 2/Oct/2023,0,0,3
day_published: 3/Oct/2023,7,0,6
month_published: Oct/2023,7,0,9
year_published: 2023,7,0,9

#### Consultas gerais manuais (Python)

In [0]:
if spark.catalog.tableExists('table_articles'):
            spark.sql('REFRESH TABLE table_articles')
table = spark.read.format('parquet').load('/FileStore/tables/table_articles')
table.createOrReplaceTempView('temp_table_view')
result = spark.sql(
                  'SELECT * '
                  'FROM temp_table_view')

result.display()

author,content,description,publishedAt,source,title,url,urlToImage
Activist Post,"By B.N. Frank A growing number of American emergency responders, lawmakers, and residents are becoming very concerned about dangers posed by robotaxis and other autonomous vehicles (AVs) (see 1, 2, … [+7186 chars]","By B.N. Frank A growing number of American emergency responders, lawmakers, and residents are becoming very concerned about dangers posed by robotaxis and other autonomous... Judge Rules on Tesla Lawsuit Allegations that “Self-Driving” Claims Were Misleading",2023-10-02T22:57:28Z,Activistpost.com,Judge Rules on Tesla Lawsuit Allegations that “Self-Driving” Claims Were Misleading,https://www.activistpost.com/2023/10/judge-rules-on-tesla-lawsuit-allegations-that-self-driving-claims-were-misleading.html,https://www.activistpost.com/wp-content/uploads/2021/04/Automated-Vehicles-1.jpg
Fred Lambert,"We get a rare look at a Tesla Cybertruck launching from a standstill, and it looks more like a rocket than a pickup truck. Electric vehicles, in general and Tesla vehicles, in particular tend to hav… [+1345 chars]",We get a rare look at a Tesla Cybertruck launching from a standstill and it looks more like a rocket than a pickup truck. more… The post Watch Tesla Cybertruck launch like a rocket from a standstill appeared first on Electrek.,2023-10-02T22:55:27Z,Electrek,Watch Tesla Cybertruck launch like a rocket from a standstill,https://electrek.co/2023/10/02/tesla-cybertruck-launch-rocket-video/,https://i0.wp.com/electrek.co/wp-content/uploads/sites/3/2023/10/Screenshot-2023-10-02-at-6.52.51-PM.jpg?resize=1200%2C628&quality=82&strip=all&ssl=1
techcrunch.com,"In a victory for Tesla, a California federal judge ruled over the weekend that a group of Tesla owners cannot pursue in court claims that the company falsely advertised its automated features. Instea… [+297 chars]","In a victory for Tesla, a California federal judge ruled over the weekend that a group of Tesla owners cannot pursue in court claims that the company falsely advertised its automated features. Instead, they will have to face individual arbitration. U.S. Distr…",2023-10-02T22:50:06Z,Biztoc.com,Tesla Autopilot arbitration win could set legal benchmark in auto industry,https://biztoc.com/x/140ce956493b5f04,https://c.biztoc.com/p/140ce956493b5f04/s.webp
Julie Coleman,"CNBC's Jim Cramer on Monday told investors that while most stocks can't withstand the ""gravitational pull"" of the bond market, several prominent mega-cap tech stocks with cash in reserve are able to … [+2040 chars]","CNBC's Jim Cramer on Monday told investors his ""Magnificent Seven"" mega-cap tech stocks are the only ones able to compete with the bond market.",2023-10-02T22:48:15Z,CNBC,Jim Cramer lauds his 'Magnificent Seven' tech mega caps as bonds rise,https://www.cnbc.com/2023/10/02/jim-cramer-lauds-his-magnificent-seven-tech-mega-caps-as-bonds-rise.html,https://image.cnbcfm.com/api/v1/image/105842165-1554931933070img_1295r.jpg?v=1696285776&w=1920&h=1080
n-tv NACHRICHTEN,Twitter heißt schon seit einer Weile X. Mit dem neuen Namen könnten allerdings auch einige Markenrechtsverletzungen einhergehen. Viele Betriebe haben lange zuvor entsprechende Markenzeichen registrie… [+1899 chars],"Twitter heißt schon seit einer Weile X. Mit dem neuen Namen könnten allerdings auch einige Markenrechtsverletzungen einhergehen. Viele Betriebe haben lange zuvor entsprechende Markenzeichen registriert, darunter auch das US-Unternehmen X Social Media. Das rei…",2023-10-02T22:44:13Z,N-tv.de,"Verletzung der Markenrechte: Kurznachrichtendienst ""X"" kassiert Klage in Florida",https://www.n-tv.de/wirtschaft/Kurznachrichtendienst-X-kassiert-Klage-in-Florida-article24437883.html,https://bilder2.n-tv.de/img/incoming/crop24437885/3641325282-cImg_16_9-w1200/427478500.jpg
Garth Franklin,"Netflix has acquired worldwide rights to the Toronto Film Fest entry “His Three Daughters” starring Natasha Lyonne, Elizabeth Olsen and Carrie Coon. The deal was reportedly made for just under $7 mi… [+850 chars]","Netflix has acquired worldwide rights to the Toronto Film Fest entry “His Three Daughters” starring Natasha Lyonne, Elizabeth Olsen and Carrie Coon. The deal was reportedly made for just under $7 million and follows the three actresses who play very different…",2023-10-02T22:16:09Z,Dark Horizons,"“Musk,” “Three Daughters” Get Acquired",https://www.darkhorizons.com/musk-three-daughters-get-acquired/,https://cdndh.darkhorizons.com/wp-content/uploads/2023/10/musk-three-daughters-get-acquired.jpg
Admin,A California federal judge has ruled that a group of people who own cars made by Tesla Inc TSLA.O must pursue claims that the company misled the public about its autopilot features in individual arbi… [+2174 chars],A California federal judge has ruled that a group of people who own cars made by Tesla Inc TSLA.O must pursue claims that the company misled the public about its autopilot features in individual arbitration rather than court. The ruling …,2023-10-02T22:38:32Z,Insurance Journal,California Judge Rules Tesla Owners Must Arbitrate False Ad Claims Over Autopilot Feature- Ruling,https://www.insurancejournal.com/news/west/2023/10/02/742697.htm,null
Peter Johnson,"With Honda’s EV offensive finally starting, the Japanese automaker is already giving us a preview of what could be its next-gen electric SUV and sedan concepts in its latest video. After releasing n… [+3197 chars]","With Honda’s EV offensive finally starting, the Japanese automaker is already giving us a preview of what could be its next-gen electric SUV and sedan concepts in its latest video. more… The post Honda reveals new electric SUV and sedan concepts in latest vi…",2023-10-02T22:00:58Z,Electrek,Honda reveals new electric SUV and sedan concepts in latest video,https://electrek.co/2023/10/02/honda-reveals-new-electric-suv-sedan-concepts-video/,https://i0.wp.com/electrek.co/wp-content/uploads/sites/3/2023/10/Honda-new-electric-SUV-concept.jpeg?resize=1200%2C628&quality=82&strip=all&ssl=1
newsfeedback@fool.com (Brian Boyle from The Daily Upside),"Want to buy a brand new Rivian EV for way under cost? On Monday, the company announced an expectations-beating jump in deliveries for its third quarter. But for each sale of its $80,000 truck, Rivia… [+2475 chars]","Want to buy a brand new Rivian EV for way under cost? On Monday, the company announced an expectations-beating jump in deliveries for its third...",2023-10-02T22:00:10Z,Thedailyupside.com,"Rivian Finally Sees Sales Increase, But Not Nearly Fast Enough",https://www.thedailyupside.com/industries/electric-vehicles/rivian-finally-sees-sales-increase-but-not-nearly-fast-enough/,https://www.thedailyupside.com/wp-content/uploads/2023/10/1_rivian-truck_10-03-23_unsplash-Wes-Hicks-1200x800.png
thedailyupside.com,"Want to buy a brand new Rivian EV for way under cost?On Monday, the company announced an expectations-beating jump in deliveries for its third quarter. But for each sale of its $80,000 truck, Rivian … [+288 chars]","Want to buy a brand new Rivian EV for way under cost? On Monday, the company announced an expectations-beating jump in deliveries for its third quarter. But for each sale of its $80,000 truck, Rivian is still losing $33,000, according to a Wall Street Journal…",2023-10-02T22:00:06Z,Biztoc.com,"Rivian Finally Sees Sales Increase, But Not Nearly Fast Enough",https://biztoc.com/x/b53c325adcbc1467,https://c.biztoc.com/p/b53c325adcbc1467/s.webp

In [0]:
# returns the amount of articles published by year, month, day, author and source

table = spark.read.format('parquet').load('/FileStore/tables/table_articles')
table.createOrReplaceTempView('temp_table_view')
spark.sql('REFRESH TABLE temp_table_view')

result = spark.sql(
"SELECT CONCAT('year_published: ', YEAR(publishedAt)) AS info, COUNT(*) AS articles_published "
"FROM temp_table_view "
"GROUP BY YEAR(publishedAt) "
"UNION ALL "
"SELECT CONCAT('month_published: ', "
"               CASE "
"                   WHEN MONTH(publishedAt) = 1 THEN 'Jan' "
"                   WHEN MONTH(publishedAt) = 2 THEN 'Feb' "
"                   WHEN MONTH(publishedAt) = 3 THEN 'Mar' "
"                   WHEN MONTH(publishedAt) = 4 THEN 'Apr' "
"                   WHEN MONTH(publishedAt) = 5 THEN 'May' "
"                   WHEN MONTH(publishedAt) = 6 THEN 'Jun' "
"                   WHEN MONTH(publishedAt) = 7 THEN 'Jul' "
"                   WHEN MONTH(publishedAt) = 8 THEN 'Aug' "
"                   WHEN MONTH(publishedAt) = 9 THEN 'Sep' "
"                   WHEN MONTH(publishedAt) = 10 THEN 'Oct' "
"                   WHEN MONTH(publishedAt) = 11 THEN 'Nov' "
"                   WHEN MONTH(publishedAt) = 12 THEN 'Dec' "
"               END) AS info, "
"       COUNT(*) AS articles_published "
"FROM temp_table_view "
"GROUP BY YEAR(publishedAt), MONTH(publishedAt) "
"UNION ALL "
"SELECT CONCAT('day_published: ', DAY(publishedAt), '/', "
"               CASE "
"                   WHEN MONTH(publishedAt) = 1 THEN 'Jan' "
"                   WHEN MONTH(publishedAt) = 2 THEN 'Feb' "
"                   WHEN MONTH(publishedAt) = 3 THEN 'Mar' "
"                   WHEN MONTH(publishedAt) = 4 THEN 'Apr' "
"                   WHEN MONTH(publishedAt) = 5 THEN 'May' "
"                   WHEN MONTH(publishedAt) = 6 THEN 'Jun' "
"                   WHEN MONTH(publishedAt) = 7 THEN 'Jul' "
"                   WHEN MONTH(publishedAt) = 8 THEN 'Aug' "
"                   WHEN MONTH(publishedAt) = 9 THEN 'Sep' "
"                   WHEN MONTH(publishedAt) = 10 THEN 'Oct' "
"                   WHEN MONTH(publishedAt) = 11 THEN 'Nov' "
"                   WHEN MONTH(publishedAt) = 12 THEN 'Dec' "
"               END, '/', YEAR(publishedAt)) AS info, COUNT(*) AS articles_published "
"FROM temp_table_view "
"GROUP BY YEAR(publishedAt), MONTH(publishedAt), DAY(publishedAt) "
"UNION ALL "
"SELECT CASE "
"           WHEN author IS NULL THEN CONCAT('author: ', source) "
"           ELSE CONCAT('author: ', author) "
"       END AS info, "
"       COUNT(*) AS articles_published "
"FROM temp_table_view "
"GROUP BY info "
"UNION ALL "
"SELECT CONCAT('source: ', source) AS info, COUNT(*) AS articles_published "
"FROM temp_table_view "
"GROUP BY source "
"ORDER BY info"
)
result.write.mode('overwrite').format('parquet').option(
    'path', '/FileStore/tables/report_articles_published').saveAsTable('report_articles_published')
result.display()

info,articles_published
author: Activist Post,1
author: Admin,1
author: Fred Lambert,1
author: Garth Franklin,1
author: Julie Coleman,1
author: Peter Johnson,1
author: n-tv NACHRICHTEN,1
author: newsfeedback@fool.com (Brian Boyle from The Daily Upside),1
author: techcrunch.com,1
author: thedailyupside.com,1
day_published: 2/Oct/2023,10
month_published: Oct,10
source: Activistpost.com,1
source: Biztoc.com,2
source: CNBC,1
source: Dark Horizons,1
source: Electrek,2
source: Insurance Journal,1
source: N-tv.de,1
source: Thedailyupside.com,1
year_published: 2023,10

In [0]:
# returns how many times each key word appears in “content”, “description” and “title” by year, month and day

table = spark.read.format('parquet').load('/FileStore/tables/table_articles')
table.createOrReplaceTempView('temp_table_view')
spark.sql('REFRESH TABLE temp_table_view')

result = spark.sql(
"SELECT "
"    CONCAT('year_published: ', YEAR(publishedAt)) AS info, "
"    SUM(REGEXP_COUNT(content, 'research')) AS key_word_RESEARCH, "
"    SUM(REGEXP_COUNT(description, 'medicinal')) AS key_word_MEDICINAL, "
"    SUM(REGEXP_COUNT(title, 'cannabis')) AS key_word_CANNABIS "
"FROM temp_table_view "
"GROUP BY YEAR(publishedAt) "
"UNION ALL "
"SELECT "
"    CONCAT('month_published: ', "
"        CASE "
"            WHEN MONTH(publishedAt) = 1 THEN 'Jan' "
"            WHEN MONTH(publishedAt) = 2 THEN 'Feb' "
"            WHEN MONTH(publishedAt) = 3 THEN 'Mar' "
"            WHEN MONTH(publishedAt) = 4 THEN 'Apr' "
"            WHEN MONTH(publishedAt) = 5 THEN 'May' "
"            WHEN MONTH(publishedAt) = 6 THEN 'Jun' "
"            WHEN MONTH(publishedAt) = 7 THEN 'Jul' "
"            WHEN MONTH(publishedAt) = 8 THEN 'Aug' "
"            WHEN MONTH(publishedAt) = 9 THEN 'Sep' "
"            WHEN MONTH(publishedAt) = 10 THEN 'Oct' "
"            WHEN MONTH(publishedAt) = 11 THEN 'Nov' "
"            WHEN MONTH(publishedAt) = 12 THEN 'Dec' "
"        END, '/', YEAR(publishedAt)) AS info, "
"    SUM(REGEXP_COUNT(content, 'research')) AS key_word_RESEARCH, "
"    SUM(REGEXP_COUNT(description, 'medicinal')) AS key_word_MEDICINAL, "
"    SUM(REGEXP_COUNT(title, 'cannabis')) AS key_word_CANNABIS "
"FROM temp_table_view "
"GROUP BY YEAR(publishedAt), MONTH(publishedAt) "
"UNION ALL "
"SELECT "
"    CONCAT('day_published: ', DAY(publishedAt), '/', "
"        CASE "
"            WHEN MONTH(publishedAt) = 1 THEN 'Jan' "
"            WHEN MONTH(publishedAt) = 2 THEN 'Feb' "
"            WHEN MONTH(publishedAt) = 3 THEN 'Mar' "
"            WHEN MONTH(publishedAt) = 4 THEN 'Apr' "
"            WHEN MONTH(publishedAt) = 5 THEN 'May' "
"            WHEN MONTH(publishedAt) = 6 THEN 'Jun' "
"            WHEN MONTH(publishedAt) = 7 THEN 'Jul' "
"            WHEN MONTH(publishedAt) = 8 THEN 'Aug' "
"            WHEN MONTH(publishedAt) = 9 THEN 'Sep' "
"            WHEN MONTH(publishedAt) = 10 THEN 'Oct' "
"            WHEN MONTH(publishedAt) = 11 THEN 'Nov' "
"            WHEN MONTH(publishedAt) = 12 THEN 'Dec' "
"        END, '/', YEAR(publishedAt)) AS info, "
"    SUM(REGEXP_COUNT(content, 'research')) AS key_word_RESEARCH, "
"    SUM(REGEXP_COUNT(description, 'medicinal')) AS key_word_MEDICINAL, "
"    SUM(REGEXP_COUNT(title, 'cannabis')) AS key_word_CANNABIS "
"FROM temp_table_view "
"GROUP BY YEAR(publishedAt), MONTH(publishedAt), DAY(publishedAt) "
"ORDER BY info "
)
result.write.mode('overwrite').format('parquet').option(
    'path', '/FileStore/tables/report_key_words').saveAsTable('report_key_words')
result.display()

info,key_word_RESEARCH,key_word_MEDICINAL,key_word_CANNABIS
day_published: 2/Oct/2023,0,0,0
month_published: Oct/2023,0,0,0
year_published: 2023,0,0,0

#### Consultas gerais (SQL)

In [0]:
%sql
REFRESH TABLE table_articles;

SELECT *
FROM table_articles;

---------------------------------------------------------------------------
ParseException                            Traceback (most recent call last)
File <command-3537292968966972>:9
      7     return df
      8   _sqldf = ____databricks_percent_sql()
----> 9 finally:
     10   del ____databricks_percent_sql

File <command-3537292968966972>:6, in ____databricks_percent_sql()
      4 spark.sql(base64.standard_b64decode("UkVGUkVTSCBUQUJMRSB0YWJsZV9hcnRpY2xlcw==").decode())
      5 spark.sql(base64.standard_b64decode("U0VMRUNUICoKRlJPTSB0YWJsZV9hcnRpY2xlcw==").decode())
----> 6 df = spark.sql(base64.standard_b64decode("JW1kCmFzZGFzZA==").decode())
      7 display(df)
      8 return df

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near '%'.(line 1, pos 0)

== SQL ==
%md
^^^
asdasd

In [0]:
%sql
/* returns the amount of articles published by year, month, day, author and source*/
REFRESH TABLE table_articles;

SELECT CONCAT('year_published: ', YEAR(publishedAt)) AS info, COUNT(*) AS articles_published
FROM table_articles
GROUP BY YEAR(publishedAt)
UNION ALL
SELECT CONCAT('month_published: ', 
               CASE 
                   WHEN MONTH(publishedAt) = 1 THEN 'Jan'
                   WHEN MONTH(publishedAt) = 2 THEN 'Feb'
                   WHEN MONTH(publishedAt) = 3 THEN 'Mar'
                   WHEN MONTH(publishedAt) = 4 THEN 'Apr'
                   WHEN MONTH(publishedAt) = 5 THEN 'May'
                   WHEN MONTH(publishedAt) = 6 THEN 'Jun'
                   WHEN MONTH(publishedAt) = 7 THEN 'Jul'
                   WHEN MONTH(publishedAt) = 8 THEN 'Aug'
                   WHEN MONTH(publishedAt) = 9 THEN 'Sep'
                   WHEN MONTH(publishedAt) = 10 THEN 'Oct'
                   WHEN MONTH(publishedAt) = 11 THEN 'Nov'
                   WHEN MONTH(publishedAt) = 12 THEN 'Dec'
               END) AS info,
       COUNT(*) AS articles_published
FROM table_articles
GROUP BY YEAR(publishedAt), MONTH(publishedAt)
UNION ALL
SELECT CONCAT('day_published: ', DAY(publishedAt), '/', 
               CASE 
                   WHEN MONTH(publishedAt) = 1 THEN 'Jan'
                   WHEN MONTH(publishedAt) = 2 THEN 'Feb'
                   WHEN MONTH(publishedAt) = 3 THEN 'Mar'
                   WHEN MONTH(publishedAt) = 4 THEN 'Apr'
                   WHEN MONTH(publishedAt) = 5 THEN 'May'
                   WHEN MONTH(publishedAt) = 6 THEN 'Jun'
                   WHEN MONTH(publishedAt) = 7 THEN 'Jul'
                   WHEN MONTH(publishedAt) = 8 THEN 'Aug'
                   WHEN MONTH(publishedAt) = 9 THEN 'Sep'
                   WHEN MONTH(publishedAt) = 10 THEN 'Oct'
                   WHEN MONTH(publishedAt) = 11 THEN 'Nov'
                   WHEN MONTH(publishedAt) = 12 THEN 'Dec'
               END, '/', YEAR(publishedAt)) AS info, COUNT(*) AS articles_published
FROM table_articles
GROUP BY YEAR(publishedAt), MONTH(publishedAt), DAY(publishedAt)
UNION ALL
SELECT CASE
           WHEN author IS NULL THEN CONCAT('author: ', source)
           ELSE CONCAT('author: ', author)
       END AS info, 
       COUNT(*) AS articles_published
FROM table_articles
GROUP BY info
UNION ALL
SELECT CONCAT('source: ', source) AS info, COUNT(*) AS articles_published
FROM table_articles
GROUP BY source
ORDER BY info;

info,articles_published
author: Admin,1
author: Bloomberg,1
author: Brian Gordon,1
author: Dow Jones,1
author: Fark.com,1
author: Garth Franklin,1
author: Kate Irwin,1
author: MarketWatch Automation,2
author: Peter Johnson,1
author: Reuters,3
author: VivoPower International PLC,1
author: [Removed],1
author: arstechnica.com,1
author: decrypt.co,1
author: feedfeeder,1
author: n-tv NACHRICHTEN,2
author: newsfeedback@fool.com (Brian Boyle from The Daily Upside),1
author: thedailyupside.com,1
day_published: 1/Jan/1970,1
day_published: 2/Oct/2023,21
month_published: Jan,1
month_published: Oct,21
source: Biztoc.com,3
source: Challenges,1
source: Dark Horizons,1
source: Decrypt,1
source: Dinheirama.com,1
source: Electrek,1
source: Fark.com,1
source: GlobeNewswire,1
source: Insurance Journal,1
source: MarketWatch,2
source: Marketscreener.com,1
source: N-tv.de,2
source: Omny.fm,1
source: Raleigh News & Observer,1
source: Slashdot.org,1
source: Terra.com.br,1
source: Thedailyupside.com,1
source: [Removed],1
year_published: 1970,1
year_published: 2023,21

In [0]:
%sql
/* returns how many times each key word appears in “content”, “description” and “title” by year, month and day */
REFRESH TABLE table_articles;

SELECT
    CONCAT('year_published: ', YEAR(publishedAt)) AS info,
    SUM(REGEXP_COUNT(content, 'research')) AS key_word_RESEARCH,   
    SUM(REGEXP_COUNT(description, 'medicinal')) AS key_word_MEDICINAL,
    SUM(REGEXP_COUNT(title, 'cannabis')) AS key_word_CANNABIS
FROM table_articles
GROUP BY YEAR(publishedAt)
UNION ALL
SELECT
    CONCAT('month_published: ', 
        CASE 
            WHEN MONTH(publishedAt) = 1 THEN 'Jan'
            WHEN MONTH(publishedAt) = 2 THEN 'Feb'
            WHEN MONTH(publishedAt) = 3 THEN 'Mar'
            WHEN MONTH(publishedAt) = 4 THEN 'Apr'
            WHEN MONTH(publishedAt) = 5 THEN 'May'
            WHEN MONTH(publishedAt) = 6 THEN 'Jun'
            WHEN MONTH(publishedAt) = 7 THEN 'Jul'
            WHEN MONTH(publishedAt) = 8 THEN 'Aug'
            WHEN MONTH(publishedAt) = 9 THEN 'Sep'
            WHEN MONTH(publishedAt) = 10 THEN 'Oct'
            WHEN MONTH(publishedAt) = 11 THEN 'Nov'
            WHEN MONTH(publishedAt) = 12 THEN 'Dec'
        END, '/', YEAR(publishedAt)) AS info,
    SUM(REGEXP_COUNT(content, 'research')) AS key_word_RESEARCH,   
    SUM(REGEXP_COUNT(description, 'medicinal')) AS key_word_MEDICINAL,
    SUM(REGEXP_COUNT(title, 'cannabis')) AS key_word_CANNABIS
FROM table_articles
GROUP BY YEAR(publishedAt), MONTH(publishedAt)
UNION ALL
SELECT
    CONCAT('day_published: ', DAY(publishedAt), '/', 
        CASE 
            WHEN MONTH(publishedAt) = 1 THEN 'Jan'
            WHEN MONTH(publishedAt) = 2 THEN 'Feb'
            WHEN MONTH(publishedAt) = 3 THEN 'Mar'
            WHEN MONTH(publishedAt) = 4 THEN 'Apr'
            WHEN MONTH(publishedAt) = 5 THEN 'May'
            WHEN MONTH(publishedAt) = 6 THEN 'Jun'
            WHEN MONTH(publishedAt) = 7 THEN 'Jul'
            WHEN MONTH(publishedAt) = 8 THEN 'Aug'
            WHEN MONTH(publishedAt) = 9 THEN 'Sep'
            WHEN MONTH(publishedAt) = 10 THEN 'Oct'
            WHEN MONTH(publishedAt) = 11 THEN 'Nov'
            WHEN MONTH(publishedAt) = 12 THEN 'Dec'
        END, '/', YEAR(publishedAt)) AS info,
    SUM(REGEXP_COUNT(content, 'research')) AS key_word_RESEARCH,   
    SUM(REGEXP_COUNT(description, 'medicinal')) AS key_word_MEDICINAL,
    SUM(REGEXP_COUNT(title, 'cannabis')) AS key_word_CANNABIS
FROM table_articles
GROUP BY YEAR(publishedAt), MONTH(publishedAt), DAY(publishedAt)
ORDER BY info;

info,key_word_RESEARCH,key_word_MEDICINAL,key_word_CANNABIS
day_published: 1/Jan/1970,0,0,0
day_published: 2/Oct/2023,0,0,0
month_published: Jan/1970,0,0,0
month_published: Oct/2023,0,0,0
year_published: 1970,0,0,0
year_published: 2023,0,0,0

#### Consultas individuais (SQL)

In [0]:
%sql
/* returns the amount of articles per year */
SELECT CONCAT('year_published: ', YEAR(publishedAt)) AS info, COUNT(*) AS articles_published
FROM table_articles
GROUP BY YEAR(publishedAt)
ORDER BY YEAR(publishedAt);

info,articles_published
year_published: 1970,1
year_published: 2023,12

In [0]:
%sql
/* returns the amount of articles per month */
SELECT 
    CONCAT('month_published: ', 
        CASE 
            WHEN MONTH(publishedAt) = 1 THEN 'Jan'
            WHEN MONTH(publishedAt) = 2 THEN 'Feb'
            WHEN MONTH(publishedAt) = 3 THEN 'Mar'
            WHEN MONTH(publishedAt) = 4 THEN 'Apr'
            WHEN MONTH(publishedAt) = 5 THEN 'May'
            WHEN MONTH(publishedAt) = 6 THEN 'Jun'
            WHEN MONTH(publishedAt) = 7 THEN 'Jul'
            WHEN MONTH(publishedAt) = 8 THEN 'Aug'
            WHEN MONTH(publishedAt) = 9 THEN 'Sep'
            WHEN MONTH(publishedAt) = 10 THEN 'Oct'
            WHEN MONTH(publishedAt) = 11 THEN 'Nov'
            WHEN MONTH(publishedAt) = 12 THEN 'Dec'
        END, '/', YEAR(publishedAt)) AS info,
    COUNT(*) AS articles_published
FROM table_articles
GROUP BY YEAR(publishedAt), MONTH(publishedAt)
ORDER BY YEAR(publishedAt), MONTH(publishedAt);

info,articles_published
month_published: Jan/1970,1
month_published: Oct/2023,12

In [0]:
%sql
/* returns the amount of articles per day */
SELECT CONCAT('day_published: ', DAY(publishedAt), '/', 
        CASE 
            WHEN MONTH(publishedAt) = 1 THEN 'Jan'
            WHEN MONTH(publishedAt) = 2 THEN 'Feb'
            WHEN MONTH(publishedAt) = 3 THEN 'Mar'
            WHEN MONTH(publishedAt) = 4 THEN 'Apr'
            WHEN MONTH(publishedAt) = 5 THEN 'May'
            WHEN MONTH(publishedAt) = 6 THEN 'Jun'
            WHEN MONTH(publishedAt) = 7 THEN 'Jul'
            WHEN MONTH(publishedAt) = 8 THEN 'Aug'
            WHEN MONTH(publishedAt) = 9 THEN 'Sep'
            WHEN MONTH(publishedAt) = 10 THEN 'Oct'
            WHEN MONTH(publishedAt) = 11 THEN 'Nov'
            WHEN MONTH(publishedAt) = 12 THEN 'Dec'
        END, '/', YEAR(publishedAt)) AS info, COUNT(*) AS articles_published
FROM table_articles
GROUP BY YEAR(publishedAt), MONTH(publishedAt), DAY(publishedAt)
ORDER BY YEAR(publishedAt), MONTH(publishedAt), DAY(publishedAt);

info,articles_published
day_published: 1/Jan/1970,1
day_published: 2/Oct/2023,12

In [0]:
%sql
/* returns the amount of articles per author ("Null" authors will be replaced by source) */
SELECT 
  CASE 
    WHEN author IS NULL THEN CONCAT('author: ', source)
    ELSE CONCAT('author: ', author)
  END AS info, 
  COUNT(*) AS articles_published
FROM table_articles
GROUP BY info
ORDER BY info;

info,articles_published
author: Fark.com,1
author: Kate Irwin,1
author: MarketWatch Automation,2
author: Reuters,3
author: VivoPower International PLC,1
author: [Removed],1
author: decrypt.co,1
author: feedfeeder,1
author: n-tv NACHRICHTEN,2

In [0]:
%sql
/* returns the amount of articles per source */
SELECT CONCAT('source: ', source) AS info, COUNT(*) AS articles_published
FROM table_articles
GROUP BY source
ORDER BY source;

info,articles_published
source: Biztoc.com,1
source: Challenges,1
source: Decrypt,1
source: Dinheirama.com,1
source: Fark.com,1
source: GlobeNewswire,1
source: MarketWatch,2
source: N-tv.de,2
source: Slashdot.org,1
source: Terra.com.br,1
source: [Removed],1

In [0]:
%sql
/* returns how many times each key word appears in “content”, “description” and “title” per year */
SELECT
    CONCAT('year_published: ', YEAR(publishedAt)) AS info,
    SUM(REGEXP_COUNT(content, 'research')) AS key_word_RESEARCH,   
    SUM(REGEXP_COUNT(description, 'medicinal')) AS key_word_MEDICINAL,
    SUM(REGEXP_COUNT(title, 'cannabis')) AS key_word_CANNABIS
FROM table_articles
GROUP BY YEAR(publishedAt)
ORDER BY YEAR(publishedAt);

info,key_word_RESEARCH,key_word_MEDICINAL,key_word_CANNABIS
year_published: 1970,0,0,0
year_published: 2023,0,0,0

In [0]:
%sql
/* returns how many times each key word appears in “content”, “description” and “title” per month */
SELECT
    CONCAT('month_published: ', 
        CASE 
            WHEN MONTH(publishedAt) = 1 THEN 'Jan'
            WHEN MONTH(publishedAt) = 2 THEN 'Feb'
            WHEN MONTH(publishedAt) = 3 THEN 'Mar'
            WHEN MONTH(publishedAt) = 4 THEN 'Apr'
            WHEN MONTH(publishedAt) = 5 THEN 'May'
            WHEN MONTH(publishedAt) = 6 THEN 'Jun'
            WHEN MONTH(publishedAt) = 7 THEN 'Jul'
            WHEN MONTH(publishedAt) = 8 THEN 'Aug'
            WHEN MONTH(publishedAt) = 9 THEN 'Sep'
            WHEN MONTH(publishedAt) = 10 THEN 'Oct'
            WHEN MONTH(publishedAt) = 11 THEN 'Nov'
            WHEN MONTH(publishedAt) = 12 THEN 'Dec'
        END, '/', YEAR(publishedAt)) AS info,
    SUM(REGEXP_COUNT(content, 'research')) AS key_word_RESEARCH,   
    SUM(REGEXP_COUNT(description, 'medicinal')) AS key_word_MEDICINAL,
    SUM(REGEXP_COUNT(title, 'cannabis')) AS key_word_CANNABIS
FROM table_articles
GROUP BY YEAR(publishedAt), MONTH(publishedAt)
ORDER BY YEAR(publishedAt), MONTH(publishedAt);

info,key_word_RESEARCH,key_word_MEDICINAL,key_word_CANNABIS
month_published: Jan/1970,0,0,0
month_published: Oct/2023,0,0,0

In [0]:
%sql
/* returns how many times each key word appears in “content”, “description” and “title” per day */
SELECT
    CONCAT('day_published: ', DAY(publishedAt), '/', 
        CASE 
            WHEN MONTH(publishedAt) = 1 THEN 'Jan'
            WHEN MONTH(publishedAt) = 2 THEN 'Feb'
            WHEN MONTH(publishedAt) = 3 THEN 'Mar'
            WHEN MONTH(publishedAt) = 4 THEN 'Apr'
            WHEN MONTH(publishedAt) = 5 THEN 'May'
            WHEN MONTH(publishedAt) = 6 THEN 'Jun'
            WHEN MONTH(publishedAt) = 7 THEN 'Jul'
            WHEN MONTH(publishedAt) = 8 THEN 'Aug'
            WHEN MONTH(publishedAt) = 9 THEN 'Sep'
            WHEN MONTH(publishedAt) = 10 THEN 'Oct'
            WHEN MONTH(publishedAt) = 11 THEN 'Nov'
            WHEN MONTH(publishedAt) = 12 THEN 'Dec'
        END, '/', YEAR(publishedAt)) AS info,
    SUM(REGEXP_COUNT(content, 'research')) AS key_word_RESEARCH,   
    SUM(REGEXP_COUNT(description, 'medicinal')) AS key_word_MEDICINAL,
    SUM(REGEXP_COUNT(title, 'cannabis')) AS key_word_CANNABIS
FROM table_articles
GROUP BY YEAR(publishedAt), MONTH(publishedAt), DAY(publishedAt)
ORDER BY YEAR(publishedAt), MONTH(publishedAt), DAY(publishedAt);

info,key_word_RESEARCH,key_word_MEDICINAL,key_word_CANNABIS
day_published: 1/Jan/1970,0,0,0
day_published: 2/Oct/2023,0,0,0